* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
}

.container {
  max-width: 1080px;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

thead tr {
  border-block: 1px solid #ddd;
}

th {
  height: inherit;
  padding: 0;
}

th:not(:first-of-type) {
  border-left: 1px solid #ddd;
}

th button {
  background-color: #eee;
  cursor: pointer;
  border: none;
  display: block;
  width: 100%;
  padding: 0.4rem 1rem;
  font-weight: 600;
  position: relative;
  height: 100%;
  margin: 0;
  text-align: left;
}

tbody tr {
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  user-select: none;
}

td {
  padding: 0.4rem 1rem;
  text-align: left;
  white-space: nowrap;
}

tbody tr:nth-child(even) {
  background-color: #ddd;
}

th button::after {
  position: absolute;
  right: 0.5rem;
}

th button[data-dir="asc"]::after {
  content: "\25BC";
  color: #aaa;
}

th button[data-dir="desc"]::after {
  content: "\25B2";
  color: #aaa;
}
